@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Events Plus</h1>
    <p>Welcome to EventsPuls database managment system please <a asp-area="Identity" asp-page="/Account/Login">Log In</a>.or <a asp-area="Identity" asp-page="/Account/Register">Register</a> new account to gain access to the application.</p>
</div>
