@model EventsPlus.Models.Event

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<!-- Creates the Edit form with labels, input fields drop lists and tick boxes -->
<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="OrganizerId" class="control-label"></label>
                <select asp-for="OrganizerId" class="form-control" asp-items="ViewBag.OrganizerId"></select>
                <span asp-validation-for="OrganizerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventsStartTime" class="control-label"></label>
                <input asp-for="EventsStartTime" class="form-control" />
                <span asp-validation-for="EventsStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventsStartEnd" class="control-label"></label>
                <input asp-for="EventsStartEnd" class="form-control" />
                <span asp-validation-for="EventsStartEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfAttendies" class="control-label"></label>
                <input asp-for="NumberOfAttendies" class="form-control" />
                <span asp-validation-for="NumberOfAttendies" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="PrivacySetting" /> @Html.DisplayNameFor(model => model.PrivacySetting)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="VerifiedOnly" /> @Html.DisplayNameFor(model => model.VerifiedOnly)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EventTypeId" class="control-label"></label>
                <select asp-for="EventTypeId" class="form-control" asp-items="ViewBag.EventTypeId"></select>
                <span asp-validation-for="EventTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VenueAddressId" class="control-label"></label>
                <select asp-for="VenueAddressId" class="form-control" asp-items="ViewBag.VenueAddressId"></select>
                <span asp-validation-for="VenueAddressId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
